#btn {
    display: block;
    text-align: center;
}

#countlabel {
    font-size: 10em;
    color: rgb(122, 7, 59);
    display: block;
    text-align: center;
    margin-top: 15%;
    margin-bottom: 0;
    transform: translateY(35px);
}

.buttons {
    font: Helvetica;
    font-size: 2.25em;
    color: antiquewhite;
    background-color:rgb(238, 126, 182);
    border-radius: 8px;
    border-color: rgb(84, 12, 40);
    cursor: pointer;
    transition: background-color 0.25s;
}

.buttons:hover {
    background-color: rgb(208, 91, 144);
}

#symbols {
    font-size: 2em;
    color: rgb(84, 22, 41);
    text-align: center;
    margin-top: 0;
    margin-bottom: -0.20em;
}