* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(105deg, #e3a7bc, #ffffff);
    padding: 10px;
}

.todoapp {
    width: 100%;
    max-width: 540px;
    background-color: #ffffff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.todoapp h2 {
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: baseline;
    padding: 15px;
}

.todoapp h2 img {
    width: 40px;
    margin-left: 10px;
}

.row {
    display: flex;
    background-color: #fbeff3;
    align-items: center;
    justify-content: space-between;
    border-radius: 25px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-size: 15px;
}

button {
    display: flex;
    border: none;
    outline: none;
    padding: 15px 50px;
    border-radius: 25px;
    background-color: #e3a7bc;
    color: #ffffff;
    font-size: 15px;
    cursor: pointer;
}

ul li {
    list-style: none;
    font-size: 20px;
    padding: 15px 8px 12px 40px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/circle.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked {
    color: #000000;
    text-decoration: line-through;
}

ul li.checked::before {
    background-image: url(images/checked.png);
}

ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #8e8e8e;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover {
    color: #524247;
}